---
import AboutHeroImage from '../assets/blog-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About"
	description="A collection of my thoughts and ideas"
	pubDate={new Date('May 05 2026')}
	heroImage={AboutHeroImage}
>
	<p>I have been living in Murrisk on and off for the past 3 years. It is a beautiful place to live and work. The light is wonderful here. The people are friendly and the community is supportive. I have been able to work on my own projects and learn a lot about the area and the people.</p>

	<p>This site is a collection of my thoughts and ideas. I hope you find it useful and inspiring. As I have been inspired by this wonderful place, I hope to share some of that inspiration with you.</p>
</Layout>
