---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Welcome, Traveller!</h1>
			<p><b>TOWARDS  LECANVEY</b><br /><i>Poem by Ger Duffy</i></p>
      <hr />
			<p>Stop a moment by the idle wall, look<br />
        right  to the red rusting boathouse, tall trees<br />
        whispering, sheep bleating. Look  left, follow<br />
        the waves, their bluegreen sheen domed by the sky,<br />
        bend and dip with the coast road. Long fingered<br />
        land lingers, to reappear as humpbacked<br />
        hills dotting Clew Bay.   Clouds scud across Croagh<br />
        Patrick,  colour changing as you watch. Four<br />
        hundred walked to Delphi Lodge in search<br />
        of food.  They lie  among potato drills,<br />
        roofless abbey walls, standing stones, yellow furze.<br />
        The rise of land dominates, insists that<br />
        you walk on it, admire it and know your<br />
        place in the scheme of things.</p>
		</main>
		<Footer />
	</body>
</html>
